.image-container{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  padding-top: 5%;
  text-align: center;
  color:crimson;
  text-shadow: 2px 2px white;
}
p{
  text-align: left;
  text-indent: 5%;
}
.info{
  position:relative;
  padding: 1em;
  color: black;
  text-shadow: 1px 1px white;
  text-indent: 5%;
}
.boxed{
  border: 3px solid black;
  box-sizing: content-box;
  width: 150px;
  text-indent: 8%;
}
h4{
  color: darkblue
}
.top-left{
  top: 8px;
  left: 16px;
}
input.ng-vaild.ng-touched,
textarea.ng-vaild.ng-touched {
  border: 1px solid red;
}
.transparent-bg{
  background: transparent;
}
form{
  background-color: aliceblue;
  width: 100%;
  padding: 1em;
}





