.image-container{
  background-image: url(
    "https://dclnews.com/tachyon/sites/4/2013/10/1024ZX_0842KP.jpg"
  );
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(70%) ;
}
h3 {
  color:ghostwhite;
  text-shadow: 3px 3px black;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  letter-spacing: 4px;
}
P {
  color: black;
  text-shadow: 1px 1px whitesmoke;
  text-indent: 5%;
  font-size: 18px;
  font-weight: 500;
  background: rgba(245, 245, 245, 0.605);
  padding: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  filter: none;
}
.row{
 background-color: transparent;
}
.list-group-item{
  text-align: center;
  background-color: transparent;
}
.form-group {
  background: transparent;
  padding: 10%;
}
.overlay-text{
  background-color: transparent;
}
.transparent-bg{
  background: transparent;
}

