<div *ngFor="let dine of rotateData"><a
class="list-group-item ">
  <div class="container transparent-bg">
    <div class="content transparent-bg">
      <h3 class="list-group-item-heading" (click)="toggleDetails()" >{{ dine.title }}</h3>
      <p *ngIf="detailsVisable" class="list-group-item-text">
      {{ dine.details }} </p></div>
    <span class="pull-right">
        <img
          [src]= "dine.imagePath"
          alt="{{ dine.title }}"
          style="max-height: 100px"
          class="img-responsive rounded"
          margin-left="auto"
          margin-right="auto"
          display="block">
    </span>
  </div>
  </a>
</div>
