<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-brand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/Welcome" >Welcome</a></li>
        <li class="nav-item"
        routerLinkActive="active">
        <a class="nav-link" routerLink="/RotationalDining" >Rotational Dining</a></li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/CasualDining"
        >Casual Dining</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/Palo" >Palo</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clubs-and-lounges">Clubs and Lounges</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/CastawayCay">Castaway Cay</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/Favorites">Favorites</a>
      </li>
      <!-- Auth -->
      <li class="nav-item"
      *ngIf="!isAuthenticated">
        <a
        class="nav-link"
        style="cursor: pointer"
        routerLink="/auth"
        routerLinkActive="active"
        >Login</a>
      </li>
      <!-- Logout -->
        <li class="nav-item"
        *ngIf="isAuthenticated"
          (click)="onSignOut()">
          <a
          class="nav-link"
          style="cursor: pointer"
          routerLink="/auth"
          routerLinkActive="active"
          >Logout</a>
        </li>
      </ul>
  </div>


