<div class="image-container">
<div *ngFor="let palo of paloData"
  class="form-group">
  <a class="row justify-between">
    <div class="container">
      <div class="overlay-text">
        <span class="pull-right">
          <img
          [src]= "palo.imagePath"
          alt="{{ palo.title }}"
          style="max-height: 90px"
          class="img-responsive rounded">
          </span>
  <h3 class="form-group-heading">
  {{ palo.title }}</h3>
  <p class="form-group-text">
    {{ palo.details }} </p></div>
  </div>
  </a>
</div>
</div>


