<div class="image-container">
<h3> Welcome to your favorites page </h3>
<div class="formContainer">
  <div class="row transparent-bg">
    <div class="overlay-text transparent-bg">
      <form class="form" formGroup="signupForm"(ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <h6> To recieve detailed information... </h6>
          <hr>
        <div class="form-group">
          <label for="yourName"> Please enter your name: </label>
          <input
          type="text"
          id="yourName"
          formControlName="yourName"
          class="form-control">
          <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block">Please enter a vaild Name!</span>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control">
          <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block">Please enter a vaild email!</span>
        </div>
      </div>
        <div class="form-group">
        <label for="amount">
          How many Disney cruises have you been on?
        </label>
        <div>
          <select class="custom-select">
            <option selected> Click to answer...</option>
            <option value="0-2"> 0 - 2 </option>
            <option value="3-5"> 3 - 5 </option>
            <option value="6-8"> 6 - 8 </option>
            <option value="8 +"> 8 + </option>
            </select>
        <div formArrayName="questions">
          <h4>Any Questions?</h4>
          <div class="container-fluid">
          <textarea
          type="text"
          id="questions"
          class="form-control"
          formControlName="questions"
          rows="6"></textarea>
        </div>
        <hr>
        <div>
        <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!signupForm.valid">Submit</button>
        </div>
      </div>

