<div *ngFor="let casual of casualData"><a
  href="#"
  class="list-group-item ">
<div class="row justify-between">
  <div class="col-xs-2">
  </div>
  <div class="container">
    <div class="content">
  <h3 class="list-group-item-heading">
  {{ casual.title }}</h3>
  <p class="list-group-item-text">
    {{ casual.details }} </p></div>
  <span class="pull-right">
  <img
  [src]= "casual.imagePath"
  alt="{{ casual.title }}"
  style="max-height: 100px"
  class="img-responsive rounded"
  margin-left="auto"
  margin-right="auto"
  display="block">
  </span>
  </div>
</div>
</a>
</div>
